body {
    padding: $space-md $space-lg;
    color: $color-primary;
    background-color: $white;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 4rem);
    @include fadeIn(1s);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    header {
        @include slideInDown(0.5s);
    }
    @include media(xsm) {
        padding: $space-md;
    }

    &.english {
        .thai {
            display: none !important;
        }
    }
    &.thai {
        .english {
            display: none !important;
        }
    }
}

nav {
    .btn-group {
        display: flex;
        align-items: center;
        a {
            &:last-of-type {
                h2 {
                    &:after {
                        width: 150%;
                        z-index: -1;
                        left: 0;
                    }

                    &:hover,
                    &:active {
                        &:after {
                            @include green-to-dark;
                            background-size: 400% 400%;
                            -webkit-animation: slideGradient 5s ease infinite;
                            -moz-animation: slideGradient 5s ease infinite;
                            animation: slideGradient 5s ease infinite;
                        }
                    }
                }
            }
        }
    }
}

footer {
    opacity: 0.5;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media(xsm) {
        margin-top: $space-md;
        opacity: 1;
        > a {
            background-color: $white;
            font-size: 1.2rem;
        }
    }
    p {
        display: flex;
        flex-wrap: nowrap;
        font-size: 0.75rem;
        align-items: center;
        justify-content: center;
        margin: 0;
        background-color: $white;
        z-index: 1;
        padding: 5px;
        a {
            margin-left: 0.3rem;
            height: 19px;
            &:hover,
            &:active {
                opacity: 0.9;
                @include transform-timing(0.5);
                &:after {
                    content: "";
                    display: block;
                    background-color: $white;
                    height: 2px;
                    width: 88px;
                    @include slideInDown(1s);
                }
            }
        }
    }

    .change-lang {
        font-size: 0.8rem;
    }
}

.lines {
    z-index: -1;
}

body > section {
    margin: auto 0;
    h4 {
        font-family: $body-font-family;
        margin: $space-md auto $space-xxs auto;
    }
    p {
        margin-top: 0;
        margin-bottom: $space-sm;
    }
}

.thai,
.english {
    @include fadeIn(0.5s);
}
